<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Hello World</title>
</h:head>

<h:body>
	<p:growl id="growl" showDetail="true" sticky="true" />
	<h:form>
		<h:outputText value="Your Name: " />
		<p:inputText value="#{buttonsView.name}" />

		<h:panelGrid columns="2" layout="grid">
			<!-- submitting and updating the growl id above -->
			<p:commandButton value="Submit with Growl" actionListener="#{buttonsView.submitMessage}" update="growl" />
			<!-- submitting and updating the outputText id below -->
			<p:commandButton value="Submit with outputText" update="sayHelloId" />
		</h:panelGrid>

		<h:outputText id="sayHelloId" value="#{buttonsView.sayHello()}" />
	</h:form>
</h:body>
</html>