<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Hello World</title>
</h:head>

<h:body>
	<h:form>
		<h:panelGrid columns="2" layout="grid">
			<p:commandButton value="Buttons" action="/buttons.xhtml" />
			<p:commandButton value="Autocomplete" action="/autocomplete.xhtml" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>